# Project  - Part 1(Metadata Collection)

This notebook contains all the data scraping to create the dataframes needed from these sources: BoxOfficeMojo, Youtube, Open Movie Database(OMDB), Google Trends.

#### Outline:
* Scrape Box Office Data Using Beautiful Soup (Web Scraping from BoxOfficeMojo.com)
    * Movie statistics for top 100movies 2013-2017 (opening gross($), theaters etc)
    * Actors & directors for each movie in the list
    * Top 500 actors & directors total gross & number of movies directed or featured
* Obtain Youtube statistics for movie trailers (Google API)
* Obtain Google trends data for movie trailer searches using Pytrend API
* Scrape movie ratings for rotten tomatoes, IMDB, Metacritic via Open Movie DataBase(OMDB) API

# Scrape Box Office Data Using BeautifulSoup
I will be scraping the box office data from boxofficemojo

In [2]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import time
import seaborn as sns

In [2]:
# define a function that can scrape top 100 movies of a given year in boxofficemojo.com
# scrape movie name, opening gross, theaters, release date
def get_opening(soup, year):
    table = soup.find_all('table')[4].find_all('tr')[2].find('table')
    movie_list = []
    for row in table.find_all('tr')[2:102]:
        cells = row.find_all('td')
        if len(cells) > 0:
            url = cells[1].find('a')['href']
            movie_name = cells[1].text
            tot_gross = cells[3].text
            opening = cells[5].text
            theaters = cells[6].text
            release_date = cells[7].text + "/" + year
            cell_dict = {'url':url,'movie_name': movie_name, 
                         'tot_gross':tot_gross, 'opening': opening, 
                         'theaters': theaters, 'release_date': release_date}
            movie_list.append(cell_dict)
    return movie_list

In [5]:
# Loop over selected years to scrape movie data. Change this as you wish.
years = ['2013','2014','2015','2016','2017','2018']

def scrape_boxoffice(years):
    movie_list = []
    for year in years:
        url = 'http://www.boxofficemojo.com/yearly/chart/?yr='
        url = url + year
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(movie_list) == 0:
            movie_list = get_opening(soup, year)
        else:
            movie_list = movie_list + get_opening(soup, year)
        # pause for 5seconds to limit traffic
        time.sleep(5)
        print("Successfully scraped " + year + "'s list")
    return movie_list

# Uncomment below to scrape
movie_list = scrape_boxoffice(years)

Successfully scraped 2013's list
Successfully scraped 2014's list
Successfully scraped 2015's list
Successfully scraped 2016's list
Successfully scraped 2017's list
Successfully scraped 2018's list

In [6]:
# Convert the list of dictionaries to a pandas dataframe
mojo_df = pd.DataFrame(movie_list)
mojo_df.head()

,movie_name,opening,release_date,theaters,tot_gross,url
0,The Hunger Games: Catching Fire,"$158,074,286",11/22/2013,"4,163","$424,668,047",/movies/?id=catchingfire.htm
1,Iron Man 3,"$174,144,585",5/3/2013,"4,253","$409,013,994",/movies/?id=ironman3.htm
2,Frozen,"$243,390",11/22/2013,1,"$400,738,009",/movies/?id=frozen2013.htm
3,Despicable Me 2,"$83,517,315",7/3/2013,"3,997","$368,061,265",/movies/?id=despicableme2.htm
4,Man of Steel,"$116,619,362",6/14/2013,"4,207","$291,045,518",/movies/?id=superman2012.htm

In [7]:
# create new column called movie, with the years stripped
# create a new column converting release date to date_time
# convert opening(in dollars) to numeric
movie_strip = mojo_df.movie_name.replace("[(]?\d\d\d\d[)]","", regex = True).str.strip()
date_time = pd.to_datetime(mojo_df.release_date, format="%m/%d/%Y")
mojo_df.insert(loc=1, column='movie', value=movie_strip)
mojo_df.insert(loc=3, column='date_time', value=date_time)
mojo_df.head()

,movie_name,movie,opening,date_time,release_date,theaters,tot_gross,url
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"$158,074,286",2013-11-22,11/22/2013,"4,163","$424,668,047",/movies/?id=catchingfire.htm
1,Iron Man 3,Iron Man 3,"$174,144,585",2013-05-03,5/3/2013,"4,253","$409,013,994",/movies/?id=ironman3.htm
2,Frozen,Frozen,"$243,390",2013-11-22,11/22/2013,1,"$400,738,009",/movies/?id=frozen2013.htm
3,Despicable Me 2,Despicable Me 2,"$83,517,315",2013-07-03,7/3/2013,"3,997","$368,061,265",/movies/?id=despicableme2.htm
4,Man of Steel,Man of Steel,"$116,619,362",2013-06-14,6/14/2013,"4,207","$291,045,518",/movies/?id=superman2012.htm

### Scrape the list of actors and directors for each MOVIE from boxofficemojo

In [8]:
def get_actdir(soup, movie):
    """ returns dictionary"""
    actdir = dict()
    content = soup.find_all(class_='mp_box_content')[2].find_all('tr')
    for row in content:
        try:
            key = row.find_all("td")[0].text
        except:
            key = "directors"
            val_list = ["None"]
        if (key == "Directors:") or (key == "Director:"):
            key = "directors"
        elif (key == "Actors:") or (key == "Actor:"):
            key = "actors"
        val_list = []
        try:
            for ro in row.find_all("td")[1].find_all("a"):
                val_list.append(ro.text)
        except:
            pass
        actdir[key] = val_list
        actdir["movie_name"] = movie
    return actdir

In [9]:
# Loop over selected years (2013 - 2017) to scrape movie data

def scrape_actdir(mojo_df):
    actdir_list = []
    for i in range(len(mojo_df)):
        movie = mojo_df.movie_name.iloc[i]
        url = 'http://www.boxofficemojo.com' + mojo_df.url.iloc[i]
        response = requests.get(url)
        # pause for 2seconds to limit traffic
        time.sleep(1)
        soup = BeautifulSoup(response.text, 'lxml')
        actdir = get_actdir(soup, movie)
        actdir_list.append(actdir)
        if (i+1) % 50 == 0:
            print("Successfully scraped", (i+1), "movies' actors and directors")
    return actdir_list

# Uncomment to scrape
actdir_list = scrape_actdir(mojo_df)

Successfully scraped 50 movies' actors and directors
Successfully scraped 100 movies' actors and directors
Successfully scraped 150 movies' actors and directors
Successfully scraped 200 movies' actors and directors
Successfully scraped 250 movies' actors and directors
Successfully scraped 300 movies' actors and directors
Successfully scraped 350 movies' actors and directors
Successfully scraped 400 movies' actors and directors
Successfully scraped 450 movies' actors and directors
Successfully scraped 500 movies' actors and directors
Successfully scraped 550 movies' actors and directors
Successfully scraped 600 movies' actors and directors

In [12]:
actdir_df = pd.DataFrame(actdir_list) 
actdir_df.to_pickle("actdir_df.pkl")

In [13]:
# Save actors and directors dataframe
#actdir_df = pd.to_pickle(actdir_df.pkl)
actdir_df = actdir_df[["actors","directors","movie_name"]]
actdir_df.head()

,actors,directors,movie_name
0,"[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],The Hunger Games: Catching Fire
1,"[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],Iron Man 3
2,"[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",Frozen
3,"[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",Despicable Me 2
4,"[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],Man of Steel

In [14]:
#Merge mojo dataframe with actor & director for each movie
mojo_df = pd.merge(mojo_df,actdir_df,on="movie_name",how="inner")
mojo_df = mojo_df.drop(["url", "release_date"],1)
mojo_df.head()

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"$158,074,286",2013-11-22,"4,163","$424,668,047","[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence]
1,Iron Man 3,Iron Man 3,"$174,144,585",2013-05-03,"4,253","$409,013,994","[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black]
2,Frozen,Frozen,"$243,390",2013-11-22,1,"$400,738,009","[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]"
3,Despicable Me 2,Despicable Me 2,"$83,517,315",2013-07-03,"3,997","$368,061,265","[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]"
4,Man of Steel,Man of Steel,"$116,619,362",2013-06-14,"4,207","$291,045,518","[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder]

In [15]:
# Save dataframe as csv
mojo_df.to_csv("mojo_df.csv")
# Save dataframe as pickle
mojo_df.to_pickle("mojo_df.pkl")

### Checkpoint for loading opening box office gross dataframe

In [3]:
# Read dataframe from pickle
mojo_df = pd.read_pickle('mojo_df.pkl')
len(mojo_df)

600

In [4]:
mojo_df.head(5)

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"$158,074,286",2013-11-22,"4,163","$424,668,047","[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence]
1,Iron Man 3,Iron Man 3,"$174,144,585",2013-05-03,"4,253","$409,013,994","[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black]
2,Frozen,Frozen,"$243,390",2013-11-22,1,"$400,738,009","[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]"
3,Despicable Me 2,Despicable Me 2,"$83,517,315",2013-07-03,"3,997","$368,061,265","[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]"
4,Man of Steel,Man of Steel,"$116,619,362",2013-06-14,"4,207","$291,045,518","[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder]

In [5]:
mojo_df.sample(5)

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors
154,Planes: Fire & Rescue,Planes: Fire & Rescue,"$17,509,407",2014-07-18,"3,826","$59,165,787",[Ed Harris],[]
483,Hostiles,Hostiles,"$22,849",2017-12-22,3,"$29,819,114","[Christian Bale, Rosamund Pike, Ben Foster]",[Scott Cooper]
351,Miracles from Heaven,Miracles from Heaven,"$14,812,393",2016-03-16,"3,047","$61,705,123","[Eugenio Derbez, Jennifer Garner, Queen Latifah]",[]
252,Fantastic Four,Fantastic Four,"$25,685,737",2015-08-07,"3,995","$56,117,548","[Miles Teller, Michael B. Jordan, Jamie Bell, ...",[Josh Trank]
314,Jason Bourne,Jason Bourne,"$59,215,365",2016-07-29,"4,026","$162,434,410","[Matt Damon, Tommy Lee Jones, Julia Stiles, Al...",[Paul Greengrass]

# Scrape Actors & Directors Data From BoxOfficeMojo Using BeautifulSoup

In [18]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import time
import seaborn as sns

### Scraping directors

In [19]:
# define a function that can scrape top 500 directors by total gross in boxofficemojo.com
# scrape director total gross, director average gross, and number of movies
def get_director(soup):
    table = soup.find_all('table')[3]
    director_list = []
    for row in table.find_all('tr')[1:51]:
        cells = row.find_all('td')
        if len(cells) > 0:
            director_name = cells[1].text
            dir_gross = cells[2].text
            num_movies = cells[3].text
            dir_agross = cells[4].text
            cell_dict = {'director': director_name, 'dir_gross': dir_gross, 'dir_nmovies': num_movies, 'dir_agross': dir_agross}
            director_list.append(cell_dict)
    return director_list

In [20]:
# Loop over 10 pages (50 directors per page) -> 500 directors
pages = ['1','2','3','4','5','6','7','8','9','10']

def scrape_director(pages):
    director_list = []
    for page in pages:
        url = 'http://www.boxofficemojo.com/people/?view=Director&pagenum=' + page +'&sort=sumgross'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(director_list) == 0:
            director_list = get_director(soup)
        else:
            director_list = director_list + get_director(soup)
        # pause for 5seconds to limit traffic
        time.sleep(2)
        print("Successfully scraped page" + page + "'s list")
    return director_list

# uncomment to scrape
director_list = scrape_director(pages)

Successfully scraped page1's list
Successfully scraped page2's list
Successfully scraped page3's list
Successfully scraped page4's list
Successfully scraped page5's list
Successfully scraped page6's list
Successfully scraped page7's list
Successfully scraped page8's list
Successfully scraped page9's list
Successfully scraped page10's list

In [21]:
# Convert the list of dictionaries to a pandas dataframe
director_df = pd.DataFrame(director_list)
director_df.sample(5)

    dir_agross dir_gross dir_nmovies             director
396      $35.8    $143.2           4         Scott Cooper
487      $21.1     $84.5           4         Jodie Foster
292      $46.2    $230.8           5  Darren Lynn Bousman
110      $66.4    $598.0           9         Andy Tennant
455      $25.8    $103.1           4   Steve McQueen (II)

In [22]:
# Pickle director dataframe
director_df.to_pickle("director_df.pkl")

### Scraping actor dataset

In [23]:
# define a function that can scrape top 500 actors by total gross in boxofficemojo.com
# scrape actor total gross, actor average gross, and number of movies
def get_actor(soup):
    table = soup.find_all('table')[3]
    actor_list = []
    for row in table.find_all('tr')[1:51]:
        cells = row.find_all('td')
        if len(cells) > 0:
            actor_name = cells[1].text
            actor_gross = cells[2].text
            actor_nmovies = cells[3].text
            actor_agross = cells[4].text
            cell_dict = {'actor': actor_name, 'act_gross': actor_gross, 'act_nmovies': actor_nmovies,
                         'act_agross': actor_agross}
            actor_list.append(cell_dict)
    return actor_list

In [24]:
# Loop over 10 pages (50 actors per page) -> 500 actors
pages = ['1','2','3','4','5','6','7','8','9','10']

def scrape_actor(pages):
    actor_list = []
    for page in pages:
        url = 'http://www.boxofficemojo.com/people/?view=Actor&pagenum=' + page +'&sort=sumgross'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(actor_list) == 0:
            actor_list = get_actor(soup)
        else:
            actor_list = actor_list + get_actor(soup)
        # pause for 5seconds to limit traffic
        time.sleep(5)
        print("Successfully scraped page" + page + "'s list")
    return actor_list

# Uncomment to run
actor_list = scrape_actor(pages)

Successfully scraped page1's list
Successfully scraped page2's list
Successfully scraped page3's list
Successfully scraped page4's list
Successfully scraped page5's list
Successfully scraped page6's list
Successfully scraped page7's list
Successfully scraped page8's list
Successfully scraped page9's list
Successfully scraped page10's list

In [25]:
actor_df = pd.DataFrame(actor_list)
actor_df.sample(5)

    act_agross act_gross act_nmovies              actor
68      $104.2  $2,605.8          25       Paul Bettany
125      $77.4  $2,091.1          27         Jack Black
197      $75.4  $1,659.3          22  Zach Galifianakis
226      $48.6  $1,554.0          32           Ice Cube
330      $43.2  $1,122.2          26    Jennifer Garner

In [26]:
#remove commas
actor_df.actor = actor_df.actor.replace(",","",regex = True)

In [27]:
#Pickle actor dataframe
actor_df.to_pickle("actor_df.pkl")

# Get Youtube Statistics Using Google API
Reference:
Pulled bits of code from
https://www.analyticsvidhya.com/blog/2014/09/mining-youtube-python-social-media-analysis/

In [6]:
from apiclient.discovery import build #pip install google-api-python-client
from apiclient.errors import HttpError #pip install google-api-python-client
from oauth2client.tools import argparser #pip install oauth2client
import pandas as pd

In [7]:
DEVELOPER_KEY = "AIzaSyATiGkBcc2vbswFWCj5xNGC3jqMrlOvJAg"
YOUTUBE_API_SERVICE_NAME = "youtube"
YOUTUBE_API_VERSION = "v3"
youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)

In [18]:
#Define two functions to be utilized in the next cell:
# 1) get the video id, 2) use the video id to retrieve statistics
# Call the search.list method to retrieve results matching the specified
# query term.

def get_video_id(movie_name):
    max_results = 1
    trailer = movie_name + "official trailer"
    search_response = youtube.search().list(
     q = trailer,
     type = "video",
     part = "id,snippet",
     maxResults = max_results
    ).execute()
    return search_response

# Get relevant video statistics using video id
def get_statistics(search_response):
    videos = {}
    for search_result in search_response.get("items", []):
        if search_result["id"]["kind"] == "youtube#video":
            videos[search_result["id"]["videoId"]] = search_result["snippet"]["title"]
    # For multiple videos per search, need to merge id's. Not necessary for 1 video
    s = ','.join(videos.keys())
    videos_list_response = youtube.videos().list(
     id = s,
     part='id,statistics'
    ).execute()
    return videos_list_response, videos

In [20]:
mojo_df1=mojo_df[6:100]

In [21]:
# Create a list of dictionaries 
final_list = []
max_results = 1
for movie in mojo_df1.movie_name:
    print("1")
    search_response = get_video_id(movie)
    video_response, videos = get_statistics(search_response)
    for i in video_response['items']:
        temp_res = dict(movie_name = movie, v_id = i['id'], v_title = videos[i['id']])
        temp_res.update(i['statistics'])
        final_list.append(temp_res)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

HttpError: <HttpError 403 when requesting https://www.googleapis.com/youtube/v3/search?alt=json&key=AIzaSyATiGkBcc2vbswFWCj5xNGC3jqMrlOvJAg&q=Rush+%282013%29official+trailer&part=id%2Csnippet&type=video&maxResults=1 returned "The request cannot be completed because you have exceeded your <a href="/youtube/v3/getting-started#quota">quota</a>.">

In [22]:
len(final_list)

89

In [15]:
youtube_df = pd.DataFrame(final_list)
youtube_df.head()

,commentCount,dislikeCount,favoriteCount,likeCount,movie_name,v_id,v_title,viewCount
0,8712,1454,0,55234,The Hunger Games: Catching Fire,EAzGXqJSDJ8,The Hunger Games: Catching Fire Official Theat...,12977095
1,6790,3981,0,83697,Iron Man 3,Ke1Y3P9D0Bc,Iron Man 3 -- Official Trailer UK Marvel | HD,28656172
2,7436,8955,0,56839,Frozen,TbQm5doF_Uc,Disney&#39;s Frozen Official Trailer,35067327
3,465,1644,0,7836,Despicable Me 2,GdDxyxan3Y4,Despicable Me 2 - Trailer 2 - Official HD,10955689
4,60838,6869,0,167707,Man of Steel,T6DJcgm3wNY,Man of Steel - Official Trailer 3 [HD],44258605

In [ ]:
# Pickle dataframe
youtube_df.to_pickle("youtube_df.pkl")

### Checkpoint for loading youtube data frame

In [ ]:
# Read youtube dataframe from pickle
youtube_df = pd.read_pickle('youtube_df.pkl')

# Get Google Trends Data Through Pytrends API

In [3]:
# Pytrends API
import time
from pytrends.request import TrendReq
from dateutil.relativedelta import relativedelta
import datetime as dt

pytrends = TrendReq(hl='en-US', tz=360)

In [51]:
# This code is for setting a cap at 1 year after release date, starting from 
# 6 months prior to release date
gtrend_list = []
for i in range(len(mojo_df)):
    kw_list = [mojo_df.movie[i] + " trailer"]
    # start the trend data from 6 months prior to movie release date to Apr 18th
    if (mojo_df.date_time[i].date() + relativedelta(months=12)) <= mojo_df.date_time[i].date():
        pytrends.build_payload(kw_list, cat=0, timeframe=
                               str(mojo_df.date_time[i].date() - relativedelta(months=6))
                               + " " + str(mojo_df.date_time[i].date() + relativedelta(months=12)),
                               gprop='youtube')
    else:
        #If movie has been released within past 1 year, get trends up to today
        #Change the date str (2018-04-18) to today's date
        pytrends.build_payload(kw_list, cat=0, timeframe=
                               str(mojo_df.date_time[i].date() - relativedelta(months=6))
                               + ' 2019-05-11',
                               gprop='youtube')
    raw = pytrends.interest_over_time()
    # if there's not enough searches on google trends and returns empty df, set ratio as 1
    if raw.empty:
        ratio = 1
    else:    
        interest = raw.iloc[:,0]
        sum_release = interest[:mojo_df.date_time[i]].sum()
        sum_today = interest.sum()
        ratio = round(sum_release / sum_today, 3)
    trend_dict = {'movie': mojo_df.movie[i], 'gtrend': ratio}
    gtrend_list.append(trend_dict)
    time.sleep(1)
    if (i + 1) % 50 == 0:
        print("got google trends for", i + 1,"movies")
gtrend_df = pd.DataFrame(gtrend_list)

got google trends for 50 movies
got google trends for 100 movies
got google trends for 150 movies
got google trends for 200 movies
got google trends for 250 movies
got google trends for 300 movies
got google trends for 350 movies
got google trends for 400 movies
got google trends for 450 movies
got google trends for 500 movies
got google trends for 550 movies
got google trends for 600 movies

In [23]:
mojog_df = pd.read_pickle('mojog_df.pkl')
mojog_df.head()

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors,gtrend
0,The Hunger Games: Catching Fire,The Hunger Games: Catching Fire,"$158,074,286",2013-11-22,"4,163","$424,668,047","[Jennifer Lawrence, Josh Hutcherson, Liam Hems...",[Francis Lawrence],0.564
1,Iron Man 3,Iron Man 3,"$174,144,585",2013-05-03,"4,253","$409,013,994","[Robert Downey, Jr., Gwyneth Paltrow, Don Chea...",[Shane Black],0.707
2,Frozen,Frozen,"$243,390",2013-11-22,1,"$400,738,009","[Kristen Bell, Josh Gad, Alan Tudyk]","[Chris Buck, Jennifer Lee]",0.123
3,Despicable Me 2,Despicable Me 2,"$83,517,315",2013-07-03,"3,997","$368,061,265","[Steve Carell, Kristen Wiig, Benjamin Bratt, R...","[Pierre Coffin, Chris Renaud]",0.656
4,Man of Steel,Man of Steel,"$116,619,362",2013-06-14,"4,207","$291,045,518","[Henry Cavill, Amy Adams, Michael Shannon, Kev...",[Zack Snyder],0.607

In [53]:
#Merge mojo_df with google trends
mojog_df = pd.merge(mojo_df,gtrend_df,on="movie",how="inner")
#Save dataframe
mojog_df.to_pickle("mojog_df.pkl")

# Get OMDB data through Google API

In [6]:
#pip install omdb API
import omdb
import json
import time

In [7]:
# Set API activation key
activation_key = "479aa765"
omdb.set_default('apikey', activation_key)

In [16]:
# Note that OMDB api has limits on its use. Check full documentation for details
# if you are using a large volume of requests
omdb_list = []
unfetched = []
counter = 1

for movie_name in mojo_df.movie:
    res = omdb.request(t=movie_name)
    time.sleep(3)
    res_str = res.content.decode('utf-8')
    res_obj = json.loads(res_str)
    try:
        res_dict = dict(movie = movie_name, 
                        imdb = res_obj["Ratings"][0]["Value"],  
                        rotten_tomatoes = res_obj["Ratings"][1]["Value"],
                        metacritic = res_obj["Ratings"][2]["Value"], 
                        runtime = res_obj["Runtime"],
                        year = res_obj["Year"],
                        rated = res_obj["Rated"],
                        actors = res_obj["Actors"],
                        director = res_obj["Director"]
                       )
        omdb_list.append(res_dict)
    except:
        print("unable to fetch data for", movie_name)
        # Get a list of unfetched movies for analysis
        unfetched.append(movie_name)
        pass
    counter += 1
    if counter % 10 == 0:
        print("fetched", counter, "movie data")

fetched 10 movie data
fetched 20 movie data
fetched 30 movie data
unable to fetch data for Jackass Presents: Bad Grandpa
fetched 40 movie data
fetched 50 movie data
fetched 60 movie data
unable to fetch data for Hansel and Gretel: Witch Hunters
unable to fetch data for Tyler Perry's A Madea Christmas
unable to fetch data for Tyler Perry's Temptation: Confessions of a Marriage Counselor
fetched 70 movie data
unable to fetch data for Pain and Gain
unable to fetch data for Jurassic Park 3D
fetched 80 movie data
unable to fetch data for Walking with Dinosaurs
unable to fetch data for Texas Chainsaw 3D
fetched 90 movie data
unable to fetch data for 21 and Over
fetched 100 movie data
fetched 110 movie data
fetched 120 movie data
fetched 130 movie data
fetched 140 movie data
fetched 150 movie data
fetched 160 movie data
fetched 170 movie data
unable to fetch data for Birdman
fetched 180 movie data
fetched 190 movie data
fetched 200 movie data
fetched 210 movie data
fetched 220 movie data
unable to fetch data for The Divergent Series: Insurgent
fetched 230 movie data
fetched 240 movie data
fetched 250 movie data
fetched 260 movie data
fetched 270 movie data
fetched 280 movie data
unable to fetch data for Entourage
fetched 290 movie data
unable to fetch data for The Lazarus Effect
fetched 300 movie data
fetched 310 movie data
fetched 320 movie data
fetched 330 movie data
fetched 340 movie data
unable to fetch data for The Divergent Series: Allegiant
fetched 350 movie data
fetched 360 movie data
unable to fetch data for 13 Hours: The Secret Soldiers of Benghazi
fetched 370 movie data
fetched 380 movie data
fetched 390 movie data
fetched 400 movie data
fetched 410 movie data
fetched 420 movie data
fetched 430 movie data
unable to fetch data for John Wick: Chapter Two
fetched 440 movie data
fetched 450 movie data
unable to fetch data for Tyler Perry's Boo 2! A Madea Halloween
fetched 460 movie data
unable to fetch data for xXx: The Return of Xander Cage
fetched 470 movie data
fetched 480 movie data
fetched 490 movie data
unable to fetch data for Victoria and Abdul
fetched 500 movie data
unable to fetch data for Dr. Seuss' The Grinch
fetched 510 movie data
unable to fetch data for Venom
fetched 520 movie data
unable to fetch data for Ocean's 8
fetched 530 movie data
unable to fetch data for Disney's Christopher Robin
fetched 540 movie data
fetched 550 movie data
fetched 560 movie data
unable to fetch data for Tyler Perry's Acrimony
fetched 570 movie data
unable to fetch data for Paddington 2
fetched 580 movie data
fetched 590 movie data
unable to fetch data for Holmes and Watson
fetched 600 movie data

In [17]:
# Save omdb dataframe
omdb_df = pd.DataFrame(omdb_list)

In [18]:
#omdb_df = omdb_df.drop(["actors","director"],1)
# convert ratings to numeric
#omdb_df.imdb = pd.to_numeric(omdb_df.imdb.replace("/10","", regex = True).str.strip())
omdb_df.head()

,actors,director,imdb,metacritic,movie,rated,rotten_tomatoes,runtime,year
0,"Jennifer Lawrence, Liam Hemsworth, Jack Quaid,...",Francis Lawrence,7.5/10,76/100,The Hunger Games: Catching Fire,PG-13,89%,146 min,2013
1,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...",Shane Black,7.2/10,62/100,Iron Man 3,PG-13,79%,130 min,2013
2,"Kristen Bell, Idina Menzel, Jonathan Groff, Jo...","Chris Buck, Jennifer Lee",7.5/10,74/100,Frozen,PG,90%,102 min,2013
3,"Steve Carell, Kristen Wiig, Benjamin Bratt, Mi...","Pierre Coffin, Chris Renaud",7.4/10,62/100,Despicable Me 2,PG,74%,98 min,2013
4,"Henry Cavill, Amy Adams, Michael Shannon, Dian...",Zack Snyder,7.1/10,55/100,Man of Steel,PG-13,56%,143 min,2013

In [24]:
# Save dataframe as csv
omdb_df.to_csv("omdb_df.csv")
# Save dataframe as pickle
omdb_df.to_pickle("omdb_df.pkl")

In [ ]:
# #Sample code for 1 request
# a='Entourage'
# res = omdb.request(t=a)
# res_str = res.content.decode('utf-8')
# res_obj = json.loads(res_str)
# res_obj

### Checkpoint for loading omdb dataframe

In [25]:
# Read youtube dataframe from pickle
omdb_df = pd.read_pickle('omdb_df.pkl')
len(omdb_df)

574